[Unit]
Description=Control Neruda server
After=network.target
ConditionPathExists=!/home/deployer/neruda/tmp/pids/sinatra.pid

[Service]
Type=simple
Environment=APP_ENV=production
Environment="PATH=/home/deployer/.rvm/gems/ruby-2.4.1@neruda/bin:/home/deployer/.rvm/gems/ruby-2.4.1@global/bin:/home/deployer/.rvm/rubies/ruby-2.4.1/bin:/home/deployer/.rvm/bin:/usr/local/bin:/usr/bin:/bin"
Environment="GEM_HOME=/home/deployer/.rvm/gems/ruby-2.4.1@neruda"
Environment="GEM_PATH=/home/deployer/.rvm/gems/ruby-2.4.1@neruda:/home/deployer/.rvm/gems/ruby-2.4.1@global"
WorkingDirectory=/home/deployer/neruda/current
ExecStart=/home/deployer/.rvm/gems/ruby-2.4.1@neruda/bin/bundle exec ruby server.rb
Restart=on-failure
KillMode=control-group
PIDFile=/home/deployer/neruda/tmp/pids/sinatra.pid

[Install]
WantedBy=default.target
